html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bod {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pass {
  display: flex;
  align-items: center;
  margin: 10px;
}

.password {
  margin-right: 10px;
}

.button {
  height: 25px;
  width: 200px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

input.b {
  height: 100%;
  width: 100%;
  border: none;
  /* outline: none; */
  /* padding: 5px; */
}

.show {
  margin-top: 10px;
}
